## Exercise 1

In the code box below:

**Q1.1:** Import NumPy.

**Q1.2:** Create a list of integers and convert it in an array.

**Q1.3** Check the type of your array object, make sure it is an array.

**Q1.4:** Multiple all of the values in your array by 5.

**Q1.5:** Convert the list in the code box below into an array.

**Q1.6:** get the shape of the array. What do you see?

**Q1.7:** Get the size of the array? Hoe does this differ from the shape?

**Q1.8:** What are the dimensions of the array?

## Exercise 2

**Q2.1:** Convert the list in the code box below into an array.

**2.2:**  Extract the first 4 items of the first 3 rows of the array and assign this to a new variable.

In [1]:
current_list = [[9, 5, 6, 4, 2, 3], [2, 6, 7, 8, 9, 6], [5, 8, 5, 6, 5, 5], [9, 8, 7, 5, 4, 6], [4, 2, 3, 4, 9, 8]]

**Q2.3:** Using the original array your created in Q2.1, create a boolean array that reports back true for values > 5.

## Exercise 3

In the code box below:

**Q3.1:** Import pandas.

**Q3.2:** Convert the following list into a Pandas series, then get the fourth element and print it to the screen.

**Q3.3:** Remind yourself of the difference between a Python list and a Pandas series object.

In [2]:
test_list = ["Dog", "Cat", "Rabbit", "Hamster", "Fish", "T-Rex"]

**Q3.4:** Replace the last item in your Pandas series with the string "Trutle".

**Q3.5:** Take the following three lists and convert them into a Python dictionary object.

**Q3.6:** Convert your dictionary object into a Pandas dataframe.

In [3]:
country_code = ["AQ", "AU", "BM", "EG", "JP"]
country_name = ["Antartica", "Australia", "Bermuda", "Egypt", "Japan"]
latitude = [-75.250973, -25.274398, 32.321384, 26.820553, 36.204824]
longitude = [-0.071389, 133.775136, -64.75737, 30.802498, 138.252924]

**Q3.7:** Print one column of your choosing to the screen.

**Q3.8:** Print the details of a country of your choosing to the screen using the row index.

**Q3.9:** Set the country_code colum to be the row index of your dataframe.

**Q3.10:** Print the details of a country of your choosing to the screen by using the country_code index you just set.

**Q3.11:** Using indexing to print Bermuda's latitude to the screen.

**Q3.12:** Using indexing to print Egypt's longitude to the screen.

## Exercise 4

**Q4.1:** Go to the ELE page for this module, then go to the section for this session, and download the file Countries_data_set.csv. Save this file to a location on your machine that you will remember.

**Q4.2:** In the code box below, load this data file in as a Pandas dataframe.

**Q4.3::** Print the names of all the variables in your data set to the screen.

**Q4.4:** From the data set, pick a column and print it to the screen.

**Q4.5:** print the top 3 rows of data to the screen.